.blog_inner {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.blog_top h2 {
  font-size: clamp(26px, 4.3vw, 56px);
  line-height: clamp(26px, 5vw, 56px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}


.bottom_cards {
display: grid;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(auto-fill,minmax(clamp(250px,27vw,500px), 1fr));
}

.blog_card {
  width: 100%;
}

.blog_card_inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog_card_top  {
    overflow: hidden;
    border-radius: 15px;
}
.blog_card_top img {
    width: 100%;
    transition: all 0.3s ease-in-out;
    aspect-ratio: 4/3;
  object-fit: cover;
  height: 100%;
  display: flex;
}
.blog_card_inner:hover img{scale: 1.1;}

.blog_card_bottom {
    flex-grow: 1;
}

.blog_card_bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog_card_inner :is(h3,p,a){transition: all 0.3s ease-in-out;}
.blog_card_inner:hover :is(h3,p,a){text-decoration: underline; cursor: pointer;}
.blog_card_bottom h3 {
  font-size: 24px;
  font-weight: 600;
}
.blog_card_bottom p {
  font-size: 18px;
  line-height: 1.6;
}
