:root { --lamsa-primary:digital-dream-primary; --lamsa-regular:digital-dream-regular; --neon-green:#00ff00; --lamsa-seconday:Saira-Regular; --background-color:#101010; }
body { background-color: rgb(0, 0, 0); margin: 0px; padding: 0px; box-sizing: border-box; color: #fff; }
.custom-container { max-width: 1660px; margin: 0px auto; width: 100%; }
.custom-d-flex { display: flex; gap: 20px; }
