@font-face { font-family: digital-dream-primary; src: url(../fonts/digital-dream-bold.woff2); font-weight: 400; }
@font-face { font-family: digital-dream-regular; src: url(../fonts/digital-dream-regular.woff2); font-weight: 900; }
