/* @font-face { font-family: digital-dream-primary; src: url(../fonts/digital-dream-bold.woff2); font-weight: 400; font-style: normal; }
@font-face { font-family: digital-dream-regular; src: url(../fonts/digital-dream-regular.woff2); font-weight: 900; font-style: normal; }
*/
/* @font-face { font-family: Saira-Regular; src: url(../fonts/Saira-Regular.woff2); font-style: normal; }
*/
/* @font-face { font-family: Saira_Condensed-Bold; src: url(../fonts/Saira_Condensed-Bold.woff2); font-style: normal; }
@font-face { font-family: Saira_Expanded-Medium; src: url(../fonts/Saira_Expanded-Medium.woff2); font-style: normal; }
*/
@font-face { font-family: "digital-dream-primary"; src: url("../fonts/digital-dream-bold.woff2") format("woff2"); font-weight: normal; font-style: normal; }
@font-face { font-family: "digital-dream-regular"; src: url("../fonts/digital-dream-regular.woff2") format("woff2"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Saira-Regular"; src: url("../fonts/Saira-Regular.woff2") format("woff2"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Saira Expanded"; src:
        url('../fonts/Saira_Expanded-Medium.woff2') format('woff2'); font-weight: 500; font-style: normal; }
@font-face { font-family: "Saira Condensed"; src:
        url('../fonts/Saira_Condensed-Bold.woff2') format('woff2'); font-weight: bold; font-style: normal; }
