h1,h2,h3,h4,h5,h6,p,ul,li { margin: 0px; padding: 0px; }
a { text-decoration: none; color: #fff; font-family:var(--lamsa-seconday); }
li { list-style: none; }
button, input { background: transparent; outline: 0px; box-shadow: none; border: 0px; }
h1 { font-family: 'ROG LyonsType Regular'; font-size: clamp(36px, 6vw, 72px); }
p { font-family: 'Raleway'; font-size: clamp(16px, 3vw, 24px); line-height: 34px; }
h4 { color: #fff; font-size: clamp(20px, 5vw, 42px ); font-family: 'Raleway'; font-weight: 800; }
.main___content { background-color: #000; padding: clamp(25px, 4vw, 50px) 0px; }
