.main__content { background-color: #000; display: flex; flex-direction: column; gap: clamp(25px, 48vw, 100px); }
.inner_banner { position: relative; height: clamp(380px, 50vw, 800px); display: flex; justify-content: center; align-items: center; }
.inner_banner::before { content: ''; position: absolute; display: block; height: 50px; width: 100%; background: linear-gradient(180deg, transparent, #000); bottom: 0; }
.level { color: #ffffff; display: flex; flex-wrap: wrap;  }
.level .heading { text-wrap: nowrap; font-size: clamp(20px, 2.1vw, 30px); font-weight: 600; margin-top: 10px; margin-bottom: 5px; line-height: clamp(20px, 4vw, 30px); }
.title { color: #fff; font-size: clamp(22px, 3.1vw, 40px); line-height: clamp(22px, 4vw, 40px); font-weight: 600; }
.level-item.has-text-centered { text-align: center; height: 100%; flex: 1; border-right: 3px solid #fff; padding: clamp(20px, 2vw, 45px); }

.level-item.has-text-centered div img {
    max-width: clamp(50px, 8vw, 100px);
  }
.slider_right img {
    max-width: clamp(300px, 40vw, 600px);
}

.section__title {
    margin-bottom: clamp(25px, 4vw, 50px);
}



.level-item.has-text-centered:nth-child(4) { border-right: 0px; }
@media only screen and (max-width:768px) {
    .hero-main .hero__content{text-align: center;}
    .navbar .custom-container{padding: 0 10px;}
    .header .header-inner{padding: clamp(15px,2vw,45px) 0;}
    .slider__content_main{justify-content: center; flex-wrap: wrap-reverse;} 
    .slider_left {
        text-align: center;
    }
    .level-item.has-text-centered{flex: 40%;}
    
    .level-item.has-text-centered:not(.level-item.has-text-centered:nth-child(3), .level-item.has-text-centered:nth-child(4)) {border-bottom: 2px solid #fff;}
    .level-item.has-text-centered:nth-child(2) {border-right: 0px solid #fff;}
    .slider__content_main p{max-width: clamp(470px, 50vw, 712px);}
    
    .main__content{padding-bottom: 50px;}
}
@media only screen and (max-width:575px) {
    .level-item.has-text-centered {
        flex:
    100%;
    padding: clamp(30px, 2vw, 45px) clamp(20px, 2vw, 45px);
      }
      .level-item.has-text-centered{border-bottom: 2px solid #fff; border-right: 0px solid #fff;}
      .level-item.has-text-centered:nth-child(4){border-bottom: 0;}
}