.getintouch__inner h2 {
  margin-bottom: 20px;
}


.getintouch__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: #000;
}
.getintouch__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 1600px;
  flex-direction: column;
  width: 100%;
  background: #1a1a1a;
  padding: 100px 0;
  border-radius: 20px;
}

.getintouch__inner p {
  max-width: 640px;
  width: 100%;
  line-height: 1.8;
}

