.getintouch__inner p {
  margin-bottom: 20px;
}


.getintouch__section {
  display: flex;
  align-items: center;
  padding: clamp(50px,8vw,100px) 0px;
  background: #000;
}

.getintouch__container {
  max-width: 1660px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.getintouch__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  background: #1a1a1a;
  padding: clamp(50px,8vw,100px) 20px;
  border-radius: 20px;
}

.getintouch__inner p {
  max-width: 640px;
  width: 100%;
  line-height: 1.3;
}

