.service_bottom-inner {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(clamp(280px,50vw,500px), 1fr));
}

.service_inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.service_section-top {
  text-align: center;
}


.service_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 20px;
}



.service_item .blur-container {
  bottom: 0;
  top: unset;
  height: 60vh;
  z-index: 0;
  transform: unset;
}

.service_icon .service_item-image {
  aspect-ratio: 1.8/2;
  object-fit: cover;
  object-position: center center;
}
.service_item-content .service_content-title {
  font-size: 26px;
  line-height: 1;
}

.service_item-content .service_content-description {
  font-size: 18px;
  line-height: 1.6;
}

.service_item-content {
  position: absolute;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}
