.service_bottom-inner {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(clamp(280px,50vw,500px), 1fr));
}

.service_inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.service_section-top {
  text-align: center;
}


.service_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  flex-direction: column;
  gap:30px;
}


.service_icon {
  flex-grow: 1;
}


.service_item-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}


.service_icon .service_item-image {
  aspect-ratio: 16/12;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  border-radius: 20px;
}
.service_item-content .service_content-title {
  font-size: clamp(20px,1.6vw,26px);
  line-height: 1;
  min-height: 52px;
}

.service_item-content .service_content-description {
  font-size: clamp(16px,1.2vw,18px);
  line-height: 1.6;
}

